<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <!-- console appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level: %msg%n</Pattern>
            </PatternLayout>
        </Console>

        <!-- file appender -->
        <File name="File" fileName="logs/app.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level: %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <!-- disable JOOQ logging -->
        <Logger name="org.jooq" level="off" additivity="false" />
        <!-- root logger -->
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <!--<AppenderRef ref="File"/>-->
        </Root>
    </Loggers>
</Configuration>
