* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    text-align: center;
}

header {
    background: linear-gradient(200deg, darkblue, #00c6ff);
    color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    overflow: visible;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

header p {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.0;
    margin-bottom: 0;
}

 #video-section {
    margin-top: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#video-section h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #333;
}


#video-container {
    margin-top: 20px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-out;
}

footer {
    margin-top: 40px;
    font-size: 1rem;
    color: #777;
    padding-top: 20px;
}


@media (max-width: 768px) {
    header h1 {
        font-size: 2.2rem;
    }

    header p {
        font-size: 1rem;
    }

    #video-section h2 {
        font-size: 1.5rem;
    }

    video {
        width: 100%;
        max-width: 100%;
    }
}
